# Ignore all node_modules directories, even in subfolders
**/node_modules/

# Ignore all .env files, even in subfolders
**/.env

**/.gitignore

# Optional: Ignore log files and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
